*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-color-1: black;
    --font-color-2: #FF324D;
    --font-color-3: #687188;
    --transition-primary: 0.3s;
    --container-padding: 1rem 13rem;
    --bg-btn-color: #333;
}
html{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
}
.trend{
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 73vw;
    transform: translateX(18%);
    overflow: hidden;
    
    
}
.trend .slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
.trend .slide i{
    font-size: 1.8rem;
    cursor: pointer;
}
.trend h1{
    padding: 0.5rem;
    position: relative;
}
.trend h1::after{
    content: '';
    width: 40%;
    height: 1px;
    background-color: var(--font-color-2);
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}
.trend .trendCards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* transform: translateX(0px); */
    
}
.trend .trendCards .card{
    border: 1px solid rgba(0, 0, 0, 0.219);
    height: 450px;
    width: 250px;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    position: relative;
    overflow: hidden;
}
.trend .trendCards .card p{
    color: var(--font-color-2);
    font-weight: bold;
}
.trend .trendCards .card span{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--font-color-3);
    text-decoration: line-through;
}
.trend .trendCards .card .img{
    width: 100%;
    height: 70%;
    
}
.trend .trendCards .card .img img{
    width: 100%;
    height: 100%;
}
.trend .trendCards .card .img .layer{
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.025);
    transition: 0.5s;
}
.trend .trendCards .card:hover .img .layer{
    background-color: rgba(0, 0, 0, 0.167);
}
.trend .trendCards .card .rate{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.trend .trendCards .card .rate .stars i{
    color: #F6BC3E;
}
.trend .trendCards .card .rate .count{
    color: var(--font-color-3);
    font-weight: 400;

}
.trend .trendCards .card button{
    position: absolute;
    bottom: 0px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 60px;
    width: 170px;
    font-size: 1.1rem;
    border-radius: 30px;
    background-color: var(--font-color-2);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    transition:  0.7s;
    border: 1px solid var(--font-color-2);
    transition: var(--transition-primary);
    
}
.trend .trendCards .card button h5{
    font-weight: 400;
}
.trend .trendCards .card button:hover{
    border: 1px solid var(--font-color-2);
    background-color: white;
    color: var(--font-color-2);
}
.trend .trendCards .card:hover button,
.trend .trendCards .card:hover .btns .btn{
    display: flex;
}
.trend .trendCards .card:hover button{
    bottom: 25px;
    opacity: 1;
}
.trend .trendCards .card:hover .btns{
    opacity: 1;
    top: 150px;
}
 .card .btns{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 130px;
    opacity: 0;
    transition: var(--transition-primary);
}
.trend .trendCards .card .btns .btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.trend .trendCards .card .btns .btn:hover{
    background-color: var(--font-color-2);
    color: white;
}














@media screen and (max-width: 575px){
   
    .trend{
        padding: 10px;
        width: 70vw;
    }
    .trend .slide{
        gap: 1.6rem;
        width: auto;
    }
    .trend  .trendCards{
        position: relative;
        right: -138px;
    }
    .trend h1{
        font-size: 20px;
    }
    .trend .slide i{
        font-size: 15px;
    }
    .trend .trendCards .card .img .layer{
        height: 73%;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
   
    .trend{
        padding: 10px;
        width: 70vw;
    }
    .trend .slide{
        gap: 5.6rem;
        width: auto;
    }
    .trend  .trendCards{
        position: relative;
        right: -179px;
        gap: 9rem;
    }
    .trend h1{
        font-size: 20px;
    }
    .trend .slide i{
        font-size: 15px;
    }
    .trend .trendCards .card .img .layer{
        height: 73%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
   
    .trend{
        padding: 10px;
        width: 70vw;
    }
    .trend .slide{
        gap: 7.6rem;
        width: auto;
    }
    .trend  .trendCards{
        position: relative;
        right: -275px;
        gap: 2rem;
    }
    .trend h1{
        font-size: 20px;
    }
    .trend .slide i{
        font-size: 15px;
    }
    .trend .trendCards .card .img .layer{
        height: 73%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1279px){
   
    .trend{
        padding: 10px;
        width: 70vw;
    }
    .trend .slide{
        gap: 7.6rem;
        width: auto;
    }
    .trend  .trendCards{
        position: relative;
        right: -338px;
        gap: 5rem;
    }
    .trend h1{
        font-size: 20px;
    }
    .trend .slide i{
        font-size: 15px;
    }
    .trend .trendCards .card .img .layer{
        height: 73%;
    }
}




